<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Editar Calificaciones</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updateBookingForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Materia</ion-label>
        <ion-input formControlName="materia" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Calificación</ion-label>
        <ion-input formControlName="calificacion" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Calificación Editada</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>